body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.todo-container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}